canvas{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  
}
body{
  background: #000;
  margin: 0;  

}
main{
  color: aliceblue;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 100%;
  margin: 0;

}

/* #home{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  
} */

#section2{
  width:100%;
  height:100% ;
  margin: 0;


}
#projects{
  background-color:antiquewhite;
  z-index: 2;
  margin: 0;

}


#section1{
  display: none;
  margin: 0;

}
.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: 0;
  width: 0;
  margin: 0;

}
footer{
  position: fixed;
  bottom: 0;
  color: white;
  text-align: left;
  font-size: 9px;
  pointer-events: none;
  margin: 0;



}
html{
  cursor: url('assets/images/cursor-hover.svg'), auto;
  
}





.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: ;
  }
  50% {
    transform: scaleY(1);
    background: RED;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}



#toggle-audio{
  position: fixed;
  bottom: 5px;
  right: 5px; 
  color: white;   
  pointer-events: all;
  width: 50px; /* Adjust width and height as needed */
  height: 50px;
  background-image: url('assets/images/172512_mute_icon.svg');

}


button{
  pointer-events: all;
}

.toggle-audio svg {
  width: 24px;
  height: 24px;
  stroke: #000;
  stroke-width: 2;

}



#home_button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #000000 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #d8d8caf3;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

button:active,
button:hover {
  box-shadow: rgba(151, 65, 252, 0.4) 0 15px 30px -5px;
  background-image: black;
  transform: translateY(-2px);
  transition: 300ms;
  display: flex;

}

#home_button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

#home_button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .home_button {
    font-size: 24px;
    min-width: 196px;
  }
}